<mat-toolbar id="navbar">
    <mat-toolbar-row>
        <span>
            <img id="navbar-logo" src="../../../../assets/imgs/logo__sante.png" alt="logo de la ministère de la santé">
        </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row-reverse" fxLayoutGap="30px">
                <li><a href="#" class="active">الرئيسية</a></li>
                <li><a href="#">مراكز الإتصال</a></li>
                <li><a href="#">نصائح</a></li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
