<section id="quiz-section">
  <div class="container">
    <div class="row">
      <div class="col-12" dir="rtl">
        <mat-horizontal-stepper labelPosition="bottom" #bigStepper>
          <mat-step>
            <ng-template matStepLabel>
              <h5 class="step-label">معلومات</h5>
            </ng-template>
            <!-- first step content -->
            <div class="jumbotron" dir="rtl">
              <h5 id="infos-title">تمهيد</h5>
              <p class="infos-paragraph">هاد التطبيق مجاني، درناه باش نسهلو على الناس لي عندها إصابة بڤيروس كورونا المستجد
                يعرفو
                الحالة ديالهم و آش خصهم يديرو. منقدوش نضمنو بنسبة 100% دقة المعلومات لي تيعطيها هاد التطبيق.
                يقر المستخدم بأن التطبيق ، بما في ذلك الاختبار و المعلومات الأخرى لي فيه، لا تشكل توصية او فحص او وصفة
                طبية او اي حاجة عندها طبيعة طبية.
              </p>
              <hr class="my-4">
              <p class="infos-paragraph">هاد التطبيق متيعوضش الطبيب ديالك لي يقدر يعطيك نصيحة أفضل. هادشي
                علاش
                قبل ما دير والو استاشر مع شي طبيب.<br>
                المعلومات ديال هاد التطبيق هي المستوى الاول باش نقدو نحددو الحالات الممكنة.
              </p>

            </div>
            <div class="d-flex justify-content-center">
              <button id="step-next-btn" class="btn btn-lg" mat-button matStepperNext dir="rtl">نبدا الاختبار</button>
            </div>
            <!-- end first step -->
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>
              <h5 class="step-label">الاختبار</h5>
            </ng-template>
            <!-- second step content -->
            
                <app-multiple-steps-form (nextEvent)="nextClicked()"></app-multiple-steps-form>
              
            <!-- end second step -->
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>
              <h5 class="step-label">النتائج</h5>
            </ng-template>
            <!-- third step content -->
            <div class="jumbotron" dir="rtl">
              <h5 id="infos-title">النتيجة</h5>
              <p class="result-paragraph" id="result" style="white-space: pre-line;">{{resultat}}</p>
              <hr class="my-4">
              <p class="result-paragraph" id="conseil">{{message}}</p>

            </div>
            <div class="d-flex justify-content-center">
              <button id="step-next-btn" class="btn btn-lg"  dir="rtl" (click)="restart()">نعاود الاختبار</button>
            </div>
            <!-- end third step -->
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</section>

<button #nextButton class="d-none" (click)="goNext(bigStepper)"></button>