<section id="medical-news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 dir="rtl">أخِر الأخبار الطبية</h2>
                <p dir="rtl">فاش كناخدو الأدوية المضادة للالتهابات ( الإيبوبروفين والكورتيزون..... ) تقدر تكون سبب في زيادة المرض، إلى كانت فيك السخانة خود الباراسيتامول. <br>إلى كنت تحت علاج بالأدوية المضادة للالتهابات، فمن الأفضل تستاشر مع الطبيب.</p>
            </div>
        </div>
    </div>
</section>

<section id="hero">
    <div class="container section-container">
        <div class="row" id="hero-container">
            <div class="col-lg-6 col-sm-12" id="hero-illust-container">
                <img src="assets/imgs/Group_80.png" alt="ilustration" id="hero-illustration">
            </div>
            <div class="col-lg-6 col-sm-12" id="hero-text-container">
                <h2 dir="rtl">واش كتضن انك تعرضت لفيروس كورونا المستجد و عندك الأعراض ديالها؟</h2>
                <img src="assets/imgs/emoji.png" alt="emoji" id="emoji">
                <p dir="rtl">نبقا راد لبال؟ <br>نستاشر عبر الهاتف مع الجهات المعنية؟ <br>نعيط ل 141؟ <br>دير الاختباروفقًا للأعراض ديالك باش ترتاح</p>
                <button class="btn btn-block btn-lg" dir="rtl" routerLink="/test">نبداو الاختبار</button>
            </div>
        </div>
    </div>
</section>

<section id="symptoms">
    <div class="container section-container">
        <div class="row">
            <div class="col-12">
                <h2 dir="rtl" id="symptoms-title">شنو هي الأعراض لواجب الانتباه ليها؟</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4 symptom-card">
                <img src="assets/imgs/fever-emoji.png" alt="fever-emoji">
                <h5>الحمى</h5>
            </div>
            <div class="col-4 symptom-card">
                <img src="assets/imgs/tiredness-emoji.png" alt="tiredness-emoji">
                <h5>تعب غير عادي</h5>
            </div>
            <div class="col-4 symptom-card">
                <img src="assets/imgs/alim-emoji.png" alt="alim-emoji">
                <h5>تغذية صعبة</h5>
            </div>
            <div class="col-4 symptom-card">
                <img src="assets/imgs/resp-emoji.png" alt="resp-emoji">
                <h5>ضيق في التنفس</h5>
            </div>
            <div class="col-4 symptom-card">
                <img src="assets/imgs/flu-emoji.png" alt="flu-emoji">
                <h5>السعال و التهاب الحلق</h5>
            </div>
            <div class="col-4 symptom-card">
                <img src="assets/imgs/courabture-emoji.png" alt="courbatures-emoji">
                <h5>الأوجاع</h5>
            </div>
        </div>
    </div>
</section>

<section id="recommandations">
    <div class="container section-container">
        <div class="row">
            <div class="col-12">
                <h2 dir="rtl" id="recommandations-title">التوصيات الرسمية</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-sm-12" id="recomm-contacts">
                <h5>اتصل مجانًا</h5>
                <span class="badge">141</span>
                <p><a href="www.sante.gov.ma" target="_blank">www.sante.gov.ma</a></p>
            </div>
            <div class="col-lg-7 col-sm-12" id="recomm-items">
                <p>إذا كنت كتظن انك مريض، فمن الاحسن</p>
                <ul dir="rtl">
                    <li dir="rtl">تبعد من البلايص العمومية.</li>
                    <li dir="rtl">ماتزورش الناس الضعفاء ( الناس الكبار أو المرضى ).</li>
                    <li dir="rtl">بقى فدارك.</li>
                    <li dir="rtl">التزم التعليمات المفروضة ( غسل يديك، ارتدي الماسك فحالة حسيتي بالأعراض ).</li>
                    <li dir="rtl">راقب الأعراض ديالك و التغيرات فدرجة حرارة الجسم ديالك.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="rappel-test">
    <div class="container">
        <div class="row">
            <div class="col-12" id="rappel-container">
                <h2>واش كتضن انك تعرضت لفيروس كورونا المستجد و عندك الأعراض ديالها؟</h2>
                <img src="assets/imgs/emoji.png" alt="emoji" id="emoji">
                <button class="btn btn-lg" dir="rtl" routerLink="/test">نبداو الاختبار</button>
            </div>
        </div>
    </div>
</section>
