<section id="symptoms">
    <div class="container section-container">
        <div class="row">
            <div class="col-12">
                <h2 dir="rtl" id="symptoms-title">كفاش نحمي راسي و ناس لمعايا بشكل يومي؟</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4 symptom-card">
                <img src="assets/imgs/fever-emoji.png" alt="fever-emoji">
                <h5>نجتانب تسلام او المصافحة</h5>
            </div>
            <div class="col-4 symptom-card">
                <img src="assets/imgs/tiredness-emoji.png" alt="tiredness-emoji">
                <h5>غسل يديك بانتظام</h5>
            </div>
            <div class="col-4 symptom-card">
                <img src="assets/imgs/alim-emoji.png" alt="alim-emoji">
                <h5>إذا كنت مريض يجب عليك تلبس قناع طبي</h5>
            </div>
            <div class="col-4 symptom-card">
                <img src="assets/imgs/resp-emoji.png" alt="resp-emoji">
                <h5>نعطس و لا نكحب في المرفق أو في المنديل</h5>
            </div>
            <div class="col-4 symptom-card">
                <img src="assets/imgs/flu-emoji.png" alt="flu-emoji">
                <h5>استخدم منديل مرة وحدة و نرميه</h5>
            </div>
            <div class="col-4 symptom-card">
                <img src="assets/imgs/brush-emoji.png" alt="courbatures-emoji">
                <h5>عقم مكان ديالك</h5>
            </div>

        </div>
        <div class="row">
            <div class="col-12 symptom-card">
                <img src="assets/imgs/icon-house.png" alt="housse-emoji">
                <h5>ابق في دارك ، اجتنب اي إختلاط مع الآخرين. يمكن لبعض الأشخاص ينشروا لفيروس دون الشعور بالأعراض</h5>
            </div>
        </div>
    </div>
</section>

<section id="info">
    <div class="container section-container">
        <div class="d-flex flex-row-reverse col-sm-12">
                <h2>معلومات</h2>
        </div>
        <div class="row">
            <div class="p-3 col-lg-4 col-sm-12">
                <button class="btn btn-lg" dir="rtl"><a href="">معلومات خاصك تعرفه</a></button>
            </div>
            <div class="mr-auto p-3 col-lg-4 col-sm-12">
                <button class="btn btn-lg" dir="rtl"><a href="http://www.covidmaroc.ma" target="_blank">www.covidmaroc.ma</a></button>
            </div>
            <div class="col-lg-4 col-sm-4">
                <p dir="rtl">توصل بجميع البيانات والإحصائيات المتعلقة بالحالة الوبائية في المغرب على البوابة الرسمية</p>
            </div>
        </div>
    </div>
</section>


<section id="symptoms">
    <div class="container section-container">
        <div class="row">
            <div class="col-12">
                <h2 dir="rtl" id="symptoms-title">شنو هي الأعراض لواجب الانتباه ليها؟</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4 symptom-card">
                <img src="assets/imgs/fever-emoji.png" alt="fever-emoji">
                <h5>الحمى</h5>
            </div>
            <div class="col-4 symptom-card">
                <img src="assets/imgs/tiredness-emoji.png" alt="tiredness-emoji">
                <h5>تعب غير عادي</h5>
            </div>
            <div class="col-4 symptom-card">
                <img src="assets/imgs/alim-emoji.png" alt="alim-emoji">
                <h5>تغذية صعبة</h5>
            </div>
            <div class="col-4 symptom-card">
                <img src="assets/imgs/resp-emoji.png" alt="resp-emoji">
                <h5>ضيق في التنفس</h5>
            </div>
            <div class="col-4 symptom-card">
                <img src="assets/imgs/flu-emoji.png" alt="flu-emoji">
                <h5>السعال و التهاب الحلق</h5>
            </div>
            <div class="col-4 symptom-card">
                <img src="assets/imgs/courabture-emoji.png" alt="courbatures-emoji">
                <h5>الأوجاع</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 dir="rtl" id="symptoms-title">فيروس كورونا المستجد كيفاش كينتقل</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 symptom-card">
                <img src="assets/imgs/saliva-emoji.png" alt="saliva-emoji">
                <h5>عن طريق إسقاط اللعاب</h5>
            </div>
            <div class="col-6 symptom-card">
                <img src="assets/imgs/family-emoji.png" alt="family-emoji">
                <h5>وجها لوجه لمدة 15 دقيقة على الأقل</h5>
            </div>
        </div>
    </div>
</section>

<section id="recommandations">
    <div class="container section-container">
        <div class="row">
            <div class="col-12">
                <h2 dir="rtl" id="recommandations-title">التوصيات الرسمية</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-sm-12" id="recomm-contacts">
                <h5>اتصل مجانًا</h5>
                <span class="badge">141</span>
                <p><a href="www.sante.gov.ma" target="_blank">www.sante.gov.ma</a></p>
            </div>
            <div class="col-lg-7 col-sm-12" id="recomm-items">
                <p>إذا كنت كتظن انك مريض، فمن الاحسن</p>
                <ul dir="rtl">
                    <li dir="rtl">تبعد من البلايص العمومية.</li>
                    <li dir="rtl">ماتزورش الناس الضعفاء ( الناس الكبار أو المرضى ).</li>
                    <li dir="rtl">بقى فدارك.</li>
                    <li dir="rtl">التزم التعليمات المفروضة ( غسل يديك، ارتدي الماسك فحالة حسيتي بالأعراض ).</li>
                    <li dir="rtl">راقب الأعراض ديالك و التغيرات فدرجة حرارة الجسم ديالك.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="rappel-test">
    <div class="container">
        <div class="row">
            <div class="col-12" id="rappel-container">
                <h2>واش كتضن انك تعرضت لفيروس كورونا المستجد و عندك الأعراض ديالها؟</h2>
                <img src="assets/imgs/emoji.png" alt="emoji" id="emoji">
                <button class="btn btn-lg" dir="rtl">نبداو الاختبار</button>
            </div>
        </div>
    </div>
</section>

