<section id="symptoms">
    <div class="container section-container">
        <div class="row ">
            <div class="col-12 mt-4">
                <h2 i18n="@@lang1" dir="rtl" id="symptoms-title">كفاش تحمي راسك و الناس لي معاك بشكل يومي؟</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-4 symptom-card">
                <img src="assets/imgs/ico3.svg" alt="fever-emoji">
                <h5 i18n="@@lang2">جتانب تسلام او المصافحة</h5>
            </div>
            <div class="col-6 col-sm-4 symptom-card">
                <img src="assets/imgs/ico1.svg" alt="hands-emoji">
                <h5 i18n="@@lang3">غسل يديك بانتظام</h5>
            </div>
            <div class="col-6 col-sm-4 symptom-card">
                <img src="assets/imgs/ico2.svg" alt="mask">
                <h5 i18n="@@lang4">إذا كنت مريض لبس قناع طبي</h5>
            </div>
            <div class="col-6 col-sm-4 symptom-card">
                <img src="assets/imgs/ico6.svg" alt="cough-emoji">
                <h5 i18n="@@lang5">اعطس و لا اكحب في المرفق أو في المنديل</h5>
            </div>
            <div class="col-6 col-sm-4 symptom-card">
                <img src="assets/imgs/ico5.svg" alt="mpuchoir">
                <h5 i18n="@@lang6">تجنب لمس العيون الفم الأنف</h5>
            </div>
            <div class="col-6 col-sm-4 symptom-card">
                <img src="assets/imgs/ico4.svg" alt="courbatures-emoji">
                <h5 i18n="@@lang7">تجنب التجمعات</h5>
            </div>

        </div>
        <div class="row">
            <div class="mx-auto symptom-card">
                <img src="assets/imgs/icon-house.svg" alt="housse-emoji">
                <h5 i18n="@@lang8">ابق في دارك ، اجتنب اي إختلاط مع الآخرين</h5>
            </div>
        </div>
    </div>
</section>

<section id="info">
    <div class="container section-container">
        <div class="col-sm-12 text-center">
            <h2 i18n="@@lang9">معلومات</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 col-sm-12">
                <p i18n="@@lang10" dir="rtl">توصل بجميع البيانات والإحصائيات المتعلقة بالحالة الوبائية في المغرب على البوابة الرسمية</p>
            </div>
            <div class="pt-3 col-lg-6 col-sm-6 d-flex flex-column align-items-center">
                <button class="btn btn-lg" dir="rtl"><a href="http://www.covidmaroc.ma" target="_blank">www.covidmaroc.ma</a></button>
                <button class="btn btn-lg mt-2" dir="rtl"><a target="_self" href="./assets/brochures/brochure.pdf" download i18n="@@lang11">معلومات خاصك تعرفه</a></button>
            </div>
        </div>
    </div>
</section>


<section id="symptoms">
    <div class="container section-container">
        <div class="row">
            <div class="col-12">
                <h2 i18n="@@lang12" dir="rtl" id="symptoms-title">شنو هي الأعراض لواجب الانتباه ليها؟</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 symptom-card">
                <img src="assets/imgs/ico7.svg" alt="fever-emoji">
                <h5 i18n="@@lang13">الحمى</h5>
            </div>
            <div class="col-6 symptom-card">
                <img src="assets/imgs/ico8.svg" alt="tiredness-emoji">
                <h5 i18n="@@lang14">الغثيان و التقيؤ</h5>
            </div>
            <div class="col-6 symptom-card">
                <img src="assets/imgs/ico9.svg" alt="resp-emoji">
                <h5 i18n="@@lang16">ضيق في التنفس</h5>
            </div>
            <div class="col-6 symptom-card">
                <img src="assets/imgs/ico10.svg" alt="flu-emoji">
                <h5 i18n="@@lang17">السعال و التهاب الحلق</h5>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-12">
                <h2 i18n="@@lang19" dir="rtl" id="symptoms-title">فيروس كورونا المستجد كيفاش كينتقل</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 symptom-card">
                <img src="assets/imgs/saliva-emoji.png" alt="saliva-emoji">
                <h5 i18n="@@lang20">عن طريق إسقاط اللعاب</h5>
            </div>
            <div class="col-6 symptom-card">
                <img src="assets/imgs/family-emoji.png" alt="family-emoji">
                <h5 i18n="@@lang21">وجها لوجه لمدة 15 دقيقة على الأقل</h5>
            </div>
        </div> -->
    </div>
</section>

<section id="recommandations">
    <div class="container section-container">
        <div class="row">
            <div class="col-12">
                <h2 i18n="@@lang22" dir="rtl" id="recommandations-title">التوصيات الرسمية</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-sm-12" id="recomm-contacts">
                <h5 i18n="@@lang23">اتصل على</h5>
                <span class="badge">141</span>
                <span class="badge mt-1">080 100 47 47</span>
                <span class="badge mt-1">300</span>
            </div>
            <div class="col-lg-7 col-sm-12" id="recomm-items">
                <p i18n="@@lang24">إذا كنت كتظن انك مريض، فمن الاحسن</p>
                <ul dir="rtl">
                    <li i18n="@@lang25" dir="rtl">تبعد من البلايص العمومية.</li>
                    <li i18n="@@lang26" dir="rtl">ماتزورش الناس الضعفاء ( الناس الكبار أو المرضى ).</li>
                    <li i18n="@@lang27" dir="rtl">بقى فدارك.</li>
                    <li i18n="@@lang28" dir="rtl">التزم التعليمات المفروضة ( غسل يديك، ارتدي الماسك فحالة حسيتي بالأعراض ).</li>
                    <li i18n="@@lang29" dir="rtl">راقب الأعراض ديالك و التغيرات فدرجة حرارة الجسم ديالك.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="rappel-test">
    <div class="container">
        <div class="row">
            <div class="col-12" id="rappel-container">
                <h2 i18n="@@lang30">واش كتضن انك تعرضت لفيروس كورونا المستجد و عندك الأعراض ديالها؟</h2>
                <img src="assets/imgs/emoji.png" alt="emoji" id="emoji">
                <button i18n="@@lang31" class="btn btn-lg" dir="rtl" routerLink="/test">نبداو الاختبار</button>
            </div>
        </div>
    </div>
</section>

