<footer>
  <section id="logo-ministere">
    <div class="container">
      <div class="row">
        <div class="col-12" id="footer-logo-container">
          <img src="assets/imgs/logo__sante.png" alt="logo de la ministère de la santé"
            id="footer-logo-sante">
        </div>
      </div>
    </div>
  </section>
  <section id="app-footer">
    <div class="container section-container">
      <div class="row">
        <div class="col-lg-6 col-sm-12" id="footer-note">
          <p>Algorithme d'orientation mis à jour sur les recommandations en vigueur au 22/03/2020 à 16h15. Ce site
            d’information n’est pas un dispositif médical, il ne délivre pas d’avis médical. Projet solidaire
            d'urgence,financé par l’Alliance Digitale contre le COVID-19 : @maladiecovid19</p>
        </div>
        <div class="col-lg-4 col-sm-5" id="footer-contacts">
          <h2 dir="rtl">اتصالات مفيدة</h2>
          <p dir="rtl">الرقم الاقتصادي "ألو اليقضة الوبائية"</p>
          <h5>080 100 47 47</h5>
          <p dir="rtl">للمساعدة الطبية الاستعجالية</p>
          <h5>141</h5>
        </div>
        <div class="col-lg-2 col-sm-5">
          <ul class="list-group list-group-flush" id="footer-links">
            <li class="list-group-item"><a routerLink="/" dir="rtl">الرئيسية</a></li>
            <li class="list-group-item"><a routerLink="/conseils" dir="rtl">نصائح</a></li>
            <li class="list-group-item">
              <button class="btn btn-outline-light btn-sm btn-block" id="footer-lang-btn">
                VERSION FR
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>

<div id="bottom-line"></div>
